<nav>
    <ul>
        <% if(locals.user) { %>
            <li>
                <a href="/parks">See All Parks</a>
            </li>
            <li>
                <a href="/parks/new">Add New Park</a>
            </li>
            <li>
                <a href="/logout">Log Out</a>
            </li>

        <% } else { %>
        <li>
            <a href="/signup">Create an Account</a>
        </li>
        <li>
            <a href="/login">Log In</a>
        </li>
        <% } %>
    </ul>

</nav>
