<nav>
    <ul class="nav-items">
        <% if(user) { %>
            <li>
                <a class="nav-link" id="active" href="/parks">All Parks</a>
            </li>
            <li>
                <a class="nav-link" id="active" href="/parks/new">Add New</a>
            </li>
            <li>
                <a class="nav-link" id="active" href="/logout">Log Out</a>
            </li>

        <% } else { %>
            <li>
                <a class="nav-link" id="active" href="/signup">Create an Account</a>
            </li>
            <li>
                <a class="nav-link" id="active" href="/login">Log In</a>
            </li>
        <% } %>
    </ul>

</nav>
