<nav>
    <ul>
        <li>
            <a href="/parks">See All Parks</a>
        </li>
        <li>
            <a href="/parks/new">Add New Park</a>
        </li>
        <li>
            <a href="/signup">Create an Account</a>
        </li>
        <li>
            <a href="/login">Log In</a>
        </li>
        <li>
            <a href="/logout">Log Out</a>
        </li>

    </ul>

</nav>
