<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Parks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="title-header">
            <h1 class="title">THEME PARK TRACKER </h1>
            <h3 class="title">THRILL SEEKERS WELCOME.</h3>
        </div>
    </header>
    <br>
    <br>
    <div class="container">
        <% parks.forEach(park => { %>
            <div class="park">
                <a href="/parks/<%= park._id; %>">
                <img src="<%= park.img; %>" alt="" class="index-img">
                <br>
                 <%= park.name %>
                </a>
                <br>
            </div>
        <% }) %>
    </div>
    <a href="/parks/new" class="add-new">
        <button>
                ADD NEW PARK 
        </button>   
    </a>
    <br>
    <br>
</body>
<footer>
    <p>©Thrill Seekers United</p>
</footer>
</html>