<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Parks</title>
</head>
<body>
    <h1>THEME PARK TRACKER</h1>

    <a href="/parks/new">ADD NEW PARK</a>

    <% parks.forEach(park => { %>
        <a href="/parks/<%= park._id; %>">
        <img src="<%= park.img; %>" alt="">
        <br>
        PARK NAME: <%= park.name %>
        </a>
        <br>
        <form action="/parks/<%= park._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE">
        </form>
    <% }) %>
</body>
</html>