<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head') %>
<body>
    <%-include('./partials/header')%>
    <%- include('./partials/nav') %>
    <br>
    <br>
    <a href="/parks">
        <button>
        Back to All Parks
        </button>
    </a>
    <h1>Add a New Park</h1>
    <div class="new-form">
        <form action="/parks" method="POST">
            <div class="new-box">
                <label>
                    Park Name: <br><textarea name="name" cols="100" rows="1"></textarea><br><br>
                </label>
                <label>
                    Description: <br><textarea name="description" cols="100" rows="1"></textarea><br><br>
                </label>
                <label>
                    Location:<br><textarea name="location" cols="100" rows="1"></textarea><br><br>
                </label>
                <label>
                    Image (URL): <br><textarea name="img" cols="100" rows="1"></textarea><br>
                </label>
            </div>
            <br><input type="submit" class="btn" id="add-new" value="Add New Park">
        </form>
    </div>
</body>
<%- include('./partials/footer') %>
</html>