html, body {
    height: 100%;
    width: 100%;
    text-align: center;
  }
*{
    box-sizing: border-box;
}
body{
    font-family: Helvetica;

}
header{
    background-image: url('/coaster.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: 100%;
    font-size: 40px;
    text-align: center;
    height: 300px;
}
.title-header{
    background-color: rgba(255, 255, 255, 0.695); 
    height: 300px;
    padding: 100px;
}
.title{
    margin: 0 auto;
}
#title-subtitle{
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 60px;
}
button, .btn{
    background-color: #6796c676;
    height: 50px;
    width: 150px;
    border-radius: 10px;
}

.index-img{
    height: 200px;
    width: 275px;
    border: 5px solid black;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    margin: 20px;
}
.park{
    padding: 15px;
}
.show-container{
    display: grid;
    grid-template-areas: 
    'left center right';
    grid-template-columns: .5fr 1fr .5fr;
    margin: 30px;
    height: 500px;
}
.nav-items{
    background-color: #6797C6;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
}
li:last-child{
    float: right;
}
.nav-link{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-link:hover{
    background-color: aliceblue;
}
/* #active{
    background-color: purple;
} */

.side{
    grid-area: 'left';
    text-align: center;
    display: inline;
}
.info{
    grid-area: 'center';
    text-align: left;
    padding: 20px;
}
.comments{
    grid-area: 'right';
    text-align: center;
    background-color: #6796c676;
    border-radius: 10px;
}
.park-comment{
    display: inline-block;
}

.park-info{
    margin: 5px;
    padding: 0;
}
.park-desc{
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
}
.desc{
    margin-top: 5px;
    padding: 0;
}

.show-pic{
    height: 300px;
    width: 400px;
    border: 5px solid black;
}
.delete, .edit{
    display: inline-block;
}
.delete{
    align-content: left;
}

footer{
    background-color: #6797C6;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    /* position: absolute; */
}
.edit-form, .new-form{
    text-align: center;
    font-size: 30px;
}
.edit-box, .new-box{
    text-align: left;
    background-color: #6796c690;
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
}

/* 768px breakpoint w for tablets
@media only screen and (min-width: 768px) {


} */